@import './../../styles.scss';
@import './../../theme.scss';

.result-form {
  min-width: 200px;
  // max-width: 1000px;
  // width: 100%;
}

.transcription-control {
  width: 100%;
  align-items: center;
  display: flex;
}

.transcription-input {
  display: inline-block;
  width: 100%;
}

.transcription-button {
  margin-left: 10px;
  min-width: 90px;
}

.result-full-width {
  width: 100%;
}

.header-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
}

.result-text {
  white-space: pre-wrap;
}

.error-text {
  white-space: pre-wrap;
}

.result-progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px;
}

.result-progress {
  margin: 0 10px;
}

.file-button {}

.download-menu-button {
  padding: 0 10px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.editor-button {
  padding: 0 10px;
}

.result-header {
  margin-left: 0px;
  margin-bottom: 10px;
}

.result-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
}

.stepper {
  padding-left: 16px;
  padding-bottom: 8px;
}

.result.mat-card {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-top: 8px;
}