@import './../../theme.scss';
@import './../../styles.scss';

.upload-form {
  min-width: 200px;
  // // max-width: 300px;
  // width: 100%;
}

.upload-input-width {
  min-width: 150px;
  width: 100%;
}

.upload-select-button {
  min-width: 0px;
  width: $buttonSize;
  padding: 0 0px;
  margin-left: -$buttonSize;
  opacity: 0.7;
}

.upload-file-control {
  width: 100%;
  display: inline-block;
}

.upload-file-container {
  width: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.upload-file-container-dnd {
  display: box;
}

.mic-wave {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: inline-block;
  width: calc(100% - #{$buttonSize});
}

.mic-audio-control {
  width: 100%;
}

.mic-button {
  min-width: 0px;
  width: $buttonSize;
  padding: 0 $buttonPadding;
}

.upload-spinner {
  margin: 0 20px;
}

.stepper {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.input-type-field {
  width: 100%;
  padding-top: 0px;
}

.inner-tab-div {
  margin-top: -15px;
}

.button-send-div {
  margin-top: -5px;
  align-items: center;
  display: flex;
}

.send-button {
  margin-right: 10px;
  min-width: 80px;
}

.info-text {
  padding-top: 10px;
  font-size: 90%;
  font-style: italic;
  opacity: 0.7;
}

.file-input {
  &.fileover {
    border-width: 2px;
    border-style: solid;
    border-color: mat-color($primary);
    border-radius: 5px;
    width: calc(100% - 10px);
  }
}

.bigger-div {
  padding-bottom: 10px;
}

.dnd-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dnd-span {
  font-size: 105%;
  font-style: italic;
  opacity: 0.7;
}

.dnd-icon {
  margin-right: 10px;
  opacity: 0.7;
}

::ng-deep .mat-tab-label {
  padding-left: 16px !important;
  padding-right: 16px !important;
  min-width: 70px !important;
}

.key-container {
  width: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.key-form {
  width: 100%;
}

.key-control {
  width: 100%;
  display: inline-block;
}

.key-button {
  min-width: 0px;
  width: $buttonSize;
  padding: 0 0px;
  margin-left: -$buttonSize;
  opacity: 0.7;
}

.condition-check {
  padding-right: 10px;
}

.condition-container {
  width: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.condition-text {
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-container {
  width: 100%;
  align-items: center;
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: mat-color($primary);
  border-radius: 5px;
  text-align: center;
}

.error-text {
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  width: 100%;
}