@import './../../theme.scss';
@import './../../styles.scss';

.upload-form {
  min-width: 200px;
  // // max-width: 300px;
  // width: 100%;
}

.upload-input-width {
  min-width: 250px;
  width: 100%;
}

.upload-select-button {
  min-width: 0px;
  width: $buttonSize;
  padding: 0 0px;
  margin-left: -$buttonSize;
  opacity: 0.7;
}

.upload-file-control {
  width: 100%;
  display: inline-block;
}

.upload-file-container {
  width: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.upload-file-container-dnd{
  display: box;
}

.mic-wave {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: inline-block;
  width: calc(100% - #{$buttonSize});
}

.mic-audio-control {
  width: 100%;
}

.mic-button {
  min-width: 0px;
  width: $buttonSize;
  padding: 0 $buttonPadding;
}

.upload-spinner {
  margin: 0 20px;
}

.stepper {
  position: relative;
  min-height: 32px;
}

.stepper>div:first-child {
  position: static;
  height: 0;
}

.stepper>div:last-child {
  margin-left: 24px;
  padding-left: 16px;
}

.stepper-line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 12px;
  bottom: 5px;
  top: 29px;
}

.stepper-circle {
  background: mat-color($primary);
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}

.stepper:last-child .stepper-line {
  display: none;
}

.stepper-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
}

.input-type-field {
  width: 100%;
  padding-top: 0px;
}

.inner-tab-div {
  margin-top: -15px;
}

.button-send-div {
  margin-top: -5px;
}

.info-text {
  padding-top: 10px;
  font-size: 90%;
  font-style: italic;
  opacity: 0.7;
}

.file-input {
  &.fileover {
    border-width: 2px;
    border-style: solid;
    border-color: mat-color($primary);
    border-radius: 5px;
    width: calc(100% - 10px);
  }
}

.bigger-div {
  padding-bottom: 10px;
}

.dnd-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dnd-span {
  font-size: 105%;
  font-style: italic;
  opacity: 0.7;
}

.dnd-icon {
  margin-right: 10px;
  opacity: 0.7;
}

::ng-deep .mat-tab-label {
  padding-left: 20px !important;
  padding-right: 20px !important;
  min-width: 100px !important;
}